@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("assets/fonts/Robotobold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.header .logo {
    width: 79px;
    margin-right: 157px;
}

.header .logo img {
    width: 100%
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 761px;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-menu ul li a:hover {
    color: #6F2CFF;
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: 146px;
}


.btn {
    border-radius: 20px;
    background: #6F2CFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgba(111, 44, 255, 0.9);
}

.header-button {
    margin-right: 38px;
}

.header-button .btn {
    width: 157px;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a:hover {
    color: #6F2CFF;
}

.main {
    background-color: #F6BED9;
}

.main .container {
    padding: 135px 0 200px 115px;
}

.main-info {
    max-width: 605px;
}

.main-pre-title {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 19px;
}

.main-title {
    color: #000;
    font-size: 54px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 61px;
    max-width: 470px;
    margin-bottom: 37px;
}

.main-title span {
    color: #6F2DFF;
}

.main-description {
    color: #000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 438px;
    margin-bottom: 4px;
}

.main-action {
    display: flex;
}