@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("assets/fonts/Robotobold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.header .logo {
    width: 79px;
    margin-right: 157px;
}

.header .logo img {
    width: 100%
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 761px;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-menu ul li a:hover {
    color: #6F2CFF;
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: 146px;
}


.btn {
    border-radius: 20px;
    background: #6F2CFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgba(111, 44, 255, 0.9);
}

.header-button {
    margin-right: 38px;
}

.header-button .btn {
    width: 157px;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a:hover {
    color: #6F2CFF;
}

.main {
    background-color: #F6BED9;
}

.main .container {
    padding: 135px 0 200px 115px;
    background-image: url("assets/images/bg_main.png");
}

.main-info {
    max-width: 605px;
}

.main-pre-title {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 19px;
}

.main-title {
    color: #000;
    font-size: 54px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 61px;
    max-width: 470px;
    margin-bottom: 37px;
}

.main-title span {
    color: #6F2DFF;
}

.main-description {
    color: #000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 438px;
    margin-bottom: 4px;
}

.main-action {
    display: flex;
}

.main-action .input {
    border-radius: 27.5px 0 0 27.5px;
    border: 1px solid #6F2CFF;
    background: #FFF;
    width: 268px;
    height: 45px;
    padding: 13px 26px 11px;
}

.main-action .input::placeholder {
    color: rgba(0, 0, 0, 0.27);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.main-action .btn {
    border-radius: 0 27.5px 27.5px 0;
    width: 187px;
    height: 45px;
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.brands {
    padding: 35px 0 50px;
}

.brands .container {
    padding: 0 115px;
}

.brands-title {
    color: #1C1C1C;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 29px;
}

.brands-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.brands-action {
    text-align: center;
}

.brands-action a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #6F2CFF;
}