@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../assets/fonts/Robotobold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.header .logo {
    width: 79px;
    margin-right: 157px;
}

.header .logo img {
    width: 100%
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 761px;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-menu ul li a:hover {
    color: #6F2CFF;
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: 146px;
}


.btn {
    border-radius: 20px;
    background: #6F2CFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgba(111, 44, 255, 0.9);
}

.header-button {
    margin-right: 38px;
}

.header-button .btn {
    width: 157px;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.header-logout a:hover {
    color: #6F2CFF;
}

.main {
    background-color: #F6BED9;
}

.main .container {
    padding: 135px 0 200px 115px;
    background-image: url("../assets/images/bg_main.png");
}

.main-info {
    max-width: 605px;
}

.main-pre-title {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 19px;
}

.main-title {
    color: #000;
    font-size: 54px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 61px;
    max-width: 470px;
    margin-bottom: 37px;
}

.main-title span {
    color: #6F2DFF;
}

.main-description {
    color: #000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 438px;
    margin-bottom: 4px;
}

.main-action {
    display: flex;
}

.main-action .input {
    border-radius: 27.5px 0 0 27.5px;
    border: 1px solid #6F2CFF;
    background: #FFF;
    width: 268px;
    height: 45px;
    padding: 13px 26px 11px;
}

.main-action .input::placeholder {
    color: rgba(0, 0, 0, 0.27);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.main-action .btn {
    border-radius: 0 27.5px 27.5px 0;
    width: 187px;
    height: 45px;
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.brands {
    padding: 35px 0 50px;
}

.brands .container {
    padding: 0 115px;
}

.brands-title {
    color: #1C1C1C;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 29px;
}

.brands-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.brands-action {
    text-align: center;
}

.brands-action a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #6F2CFF;
}

.advantages .container {
    padding: 50px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages-main-title {
    color: #1C1C1C;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 45px;
    max-width: 401px;
    margin-bottom: 58px;
}

.advantages-main-actions {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.advantages-main-actions .btn {
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    width: 187px;
    height: 40px;
    margin-right: 22px;
}

.advantages-main-actions div a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #6F2DFF;
}

.advantages-main-description-text {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 7px;
}

.advantages-main-description-action a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid #000;
}

.advantages-main-description-action a:hover {
    color: #6F2DFF;
}

.advantages-items {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.advantages-item {
    width: 309px;
    height: 220px;
    padding: 8px 16px;
    border-left: 1px solid #E0E0E0;
}

.advantages-item-title {
    color: #000;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.advantages-item-text {
    color: #000;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
}

.commerce .container {
    padding: 44px 0 79px;
    text-align: center;
}

.commerce-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 22px;
}

.commerce-description {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 58px;
}

.commerce-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 1104px;
    max-width: 1104px;
    margin: 0 auto;
}

.commerce-item-title {
    color: #000;
    text-align: center;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 16px;
}

.commerce-item-description {
    max-width: 320px;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 15px;
}

.power {
    background-color: #F5F5F5;
    text-align: center;
    padding: 94px 0 101px;
}

.power-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 28px;
}

.power-description {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 90px;
}

.power-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
}

.power-action .btn {
    width: 189px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin-right: 22px;
}

.power-action .btn-transparent {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0 0 0 0 #6F2CFF;
    width: 187px;
    height: 40px;
    border: none;
    color: #6F2CFF;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.power-action .btn-transparent:hover {
    box-shadow: 1px 1px 0 0 #6F2CFF;
    cursor: pointer;
}

.possibilities {
    padding: 93px 0 220px;
    text-align: center;
}

.possibilities-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 58px;
}

.possibilities-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    width: 1020px;
    margin: 0 auto;
}

.possibilities-item {
    width: 276px;
    height: 195px;
}

.possibilities-item-title {
    color: #000;
    text-align: center;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 11px;
}

.possibilities-item-description {
    color: #1C1C1C;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    max-width: 276px;
}

.leading-brands {
    background-color: #F5F5F5;
    padding: 88px 0 100px;
}

.leading-brands-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 71px;
}

.leading-brands-slider {
    margin: 0 auto;
}

.slide {
    width: 320px;
    height: 438px;
    border-radius: 7px 7px 7px 7px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.50);

}

.slide-image {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 205px;
    border-radius: 7px 7px 0 0;
}

.slide-name-brands {
    margin: 25px auto;
}

.slide-name-brands img {
    height: 35px;
}

.slide-description {
    max-width: 219px;
    margin: 0 auto;
    color: #6F2CFF;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 22px;
}

.industry {
    padding: 94px 0 100px;
}

.industry-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.industry-description {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 65px;
}

.industry-items {
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.industry-item {
    padding: 30px 30px 23px;
    border-radius: 8px 10px 10px 8px;
    background: #17002E;
    width: 460px;
    height: 199px;
}

.industry-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.industry-item-header-text {
    color: #FFF;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.industry-item-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;
}

.industry-item-mean {
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
}

.industry-item-footer {
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFF;
    width: fit-content;
    margin-top: auto;
}

.ecosystem {
    background: #F5F5F5;
}

.ecosystem .container {
    padding: 40px 90px 20px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ecosystem-title {
    color: #17002E;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 47px;
}

.ecosystem-description {
    color: #000;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 588px;
    margin-bottom: 11px;
}

.ecosystem-action .btn {
    width: 203px;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 74px;
}

.order .container {
    padding: 93px 0 107px;
    text-align: center;
}

.order-title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 39px;
}

.order-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-action input {
    border-radius: 27.5px 0 0 27.5px;
    background: #FFF;
    padding: 12px 20px;
    border: none;
    width: 268px;
    height: 45px;
}

.order-action input::placeholder {
    color: rgba(0, 0, 0, 0.51);
    font-size: 15px;
    text-align: start;
    font-family: "Roboto", sans-serif;
}

.order-action .btn {
    border-radius: 0 27.5px 27.5px 0;
    background: #6F2CFF;
    width: 187px;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}